name: Check Type Completeness
on:
  pull_request:
    branches:
      - master
      - test-branch
  push:
    branches:
      - master

jobs:
  test-type-completeness:
    name:   test-type-completeness
    runs-on: ubuntu-latest
    steps:
      - name: Install telegram?
        run: |
          pip install . -U
      - uses: jakebailey/pyright-action@v1.8.1
        with:
            verify-types: telegram
            ignore-external: true
            
